# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# screenshots
/screenshots/*.png
!/screenshots/

# logs
/logs/*
!/logs/

# misc
.DS_Store
*.d.ts
!/src/declaration/*.d.ts
/.idea
.vscode/